---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
		<!-- Before the closing </head> -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
		/>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{posts.map((post) => (
						<li>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={post.url}>{post.frontmatter.title}</a>
						</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
		<!-- Before the closing </body> -->
		<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
		<script>
			docsearch({
			// Your Search API Key
			apiKey: '711ee70958a27da7849c29cb88184780',
			// The index populated by the DocSearch scraper
			indexName: 'micro',
			// Your Algolia Application ID
			appId: 'VGP13YDFST',
			// Replace inputSelector with a CSS selector
			// matching your search input
			inputSelector: 'div#microsearch',
			// Set debug to true to inspect the dropdown
			debug: false,
			});
		</script>
	</body>
</html>
